<div class="layout_left_menu">
    <ul class="tendina" id="menu">
        <li class="childUlLi">
            <a href="#" target="menuFrame"><i class="glyphicon glyphicon-home"></i>首页</a>
            <ul style="display: none;">
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultIndex" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>综合查询</a></li>
            </ul>
        </li>
        <li class="childUlLi">
            <a href="#" target="menuFrame"> <i class="glyphicon glyphicon-list"></i>中心库配置</a>
            <ul style="display: none;">
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultActivityConfigures" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>活动配置</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultDataBaseServerConfigures" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>服务器配置</a></li>
            </ul>
        </li>
        <li class="childUlLi">
            <a href="#" target="menuFrame"> <i class="glyphicon glyphicon-list-alt"></i>服务器查询</a>
            <ul style="display: none;">
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultSystenPing" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>服务器ping</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultSystemCpu" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统CPU</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultSystemHdd" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统硬盘</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultSystemInternet" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统网络</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultSystemMemories" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统内存</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultProcessCpu" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>进程CPU</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultProcessInternet" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>进程网络</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Default/DefaultProcessMemories" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>进程内存</a></li>
            </ul>
        </li>      
        <li class="childUlLi">
            <a href="#" target="menuFrame"> <i class="glyphicon glyphicon-stats"></i>统计图展示</a>
            <ul style="display: none;">
                <li><a href="javascript:void(0);" menu-href="~/Statistics/ActivityConfigures" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>活动配置统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/DataBaseServerConfigures" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>服务器配置统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/SystenPing" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>服务器ping统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/SystemCpu" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统CPU统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/SystemHdd" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统硬盘统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/SystemMemories" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统内存统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/SystemInternet" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>系统网络统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/ProcessMemories" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>进程内存统计</a></li>
                <li><a href="javascript:void(0);" menu-href="~/Statistics/ProcessCpu" class="default-left-menu"><i class="glyphicon glyphicon-triangle-right"></i>进程Cpu统计</a></li>
            </ul>
        </li>
    </ul>
</div>