<div class="layout_top_header">
    <div style="float: left">
        @*<span style="font-size: 16px;line-height: 45px;padding-left: 20px;color: #8d8d8d">踏浪者国际 tidebuy</span>*@
        <img src="../Images/Logo/logo.png" alt="logo" style=" width: 140px; border: none;" />
    </div>
    <div id="ad_setting" class="ad_setting">
        <a class="ad_setting_a" href="javascript:;">
            <i class="glyphicon glyphicon-user" style="font-size: 20px; line-height:52px; font-size:17px;"></i>
            <span style="vertical-align: baseline; line-height: 52px; font-size:13px;">管理员</span>
            <i class="icon-chevron-down glyph-icon"></i>
        </a>
        <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-user glyph-icon"></i> 个人中心 </a> </li>
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-cog glyph-icon"></i> 设置 </a> </li>
            <li class="
                "> <a href="javascript:;"><i class="icon-signout glyph-icon"></i> <span class="font-bold">退出</span> </a> </li>
        </ul>
    </div>
</div>